$blue-color: rgba(0, 0, 255, 0.632);
$green-color: rgb(3, 69, 3);
$orange-color: rgb(255, 165, 0);
$white-color: #FFFFFF;
$grey-color: #CCCCCC;
$light-grey-color: rgba(238, 238, 238, 0.933);
$elem-padding: 0.5rem;
$block-margin: 20px;
$small: 200px;
$medium: 400px;
$large: 600px;
